<%= form_for(@tour_session) do |f| %>
  <% if @tour_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour_session.errors.count, "error") %> prohibited this tour_session from being saved:</h2>

      <ul>
      <% @tour_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tour_date %><br>
    <%= f.datetime_select :tour_date %>
  </div>
  <div class="field">
    <%= f.label :tour_id %><br>
    <%= f.number_field :tour_id %>
  </div>
  <div class="field">
    <%= f.label :number_booked %><br>
    <%= f.number_field :number_booked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
