<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :name_last %>
    <%= f.text_field :name_last, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :name_first %>
    <%= f.text_field :name_first, :required => true %>
  </div>
  <br>
  <div class="field">
    <%= f.label :date %>
    <%= f.datetime_select :date, :required => true%>
  </div>
  <br>
  <!-- <div class="field">
    <%#= f.label :session_id %><br>
    <%#= f.number_field :tour_session_id %>
  </div> -->
  <div class="field">
    <%= f.label :number_people %>
    <%= f.number_field :number_people, :required => true %>
  </div>
  <br>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
