<div class="main">
    <div class="wrapper">

        <!-- <p id="notice"><%= notice %></p> -->

        <% if !@booking.confirmed %>
        <h1>
            Your booking will not be confirmed until you have paid, biyatch!</h1>
        <%= form_tag charges_path do %>
        <article>
            <% if flash[:error].present? %>
            <div id="error_explanation">
                <p><%= flash[:error] %></p>
            </div>
            <% end %>

            <label class="amount">
                <span>Amount: $100.00</span>
            </label>
        </article>

        <script
            src="https://checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Crafty Beer Tours"
            data-amount="10000"
            data-locale="auto"
            data-image="<%= image_path("bearwink.jpg") %>">
            </script>


        <% end %>
        <% end %>

        <p>
            <strong>Last Name:</strong>
            <%= @booking.name_last %>
        </p>

        <p>
            <strong>First Name:</strong>
            <%= @booking.name_first %>
        </p>

        <p>
            <strong>Date:</strong>
            <%= @booking.date %>
        </p>

        <!-- <p>
      <strong>Session:</strong>
      <%#= @booking.tour_session_id %>
    </p> -->

        <p>
            <strong>Number people:</strong>
            <%= @booking.number_people %>
        </p>

        <%= link_to 'Edit', edit_booking_path(@booking) %>
        |
        <%= link_to 'Back', bookings_path %>

    </div>
</div>

<footer class="footer">
    <div id="container">
        <div id="top">
            <div class="beer-foam">
                <div class="foam-1"></div>
                <div class="foam-2"></div>
                <div class="foam-3"></div>
                <div class="foam-4"></div>
                <div class="foam-5"></div>
                <div class="foam-6"></div>
                <div class="foam-7"></div>
                <div class="foam-8"></div>
                <div class="foam-9"></div>
                <div class="foam-10"></div>
                <div class="foam-11"></div>
                <div class="foam-12"></div>
                <div class="foam-13"></div>
                <div class="foam-14"></div>
                <div class="foam-15"></div>
            </div>
            <div id="liquid">
                <div class="bubble bubble1"></div>
                <div class="bubble bubble2"></div>
                <div class="bubble bubble3"></div>
                <div class="bubble bubble4"></div>
                <div class="bubble bubble5"></div>
            </div>
        </div>
    </div>
</footer>
