

<section class="container clearfix">
		<ul id="scene" class="scene">

		  <li class="layer" data-depth="0.00">
			<div class="background"></div>
		  </li>

      <li class="layer" data-depth="0.10">
		  <div class="mountains">
        <%= image_tag('mountains.png') %>
      </div>
		  </li>

		  <li class="layer" data-depth="0.10">
		  <div class="sun">
        <%= image_tag('sun.png') %>
      </div>
		  </li>

		  <li class="layer" data-depth="0.10">
		  <div class="bottomrightcloud">
        <%= image_tag('smallcloud.png') %>
      </div>
		  </li>

		  <li class="layer" data-depth="0.20">
		  <div class="toprightcloud">
        <%= image_tag('cloudcluster.png') %>
      </div>
		  </li>

		  <li class="layer" data-depth="0.15">
		  <div class="eagle">
        <%= image_tag('eagle.png') %>
      </div>

		  </li>
		  <li class="layer" data-depth="0.30">
		  <div class="bigcloud">
        <%= image_tag('bigcloud.png') %>
      </div>
		  </li>
		  <li class="layer" data-depth="0.40">
		  <div class="tlcloud">
        <%= image_tag('biggercloud.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.40">
		  <div class="oceanblue">
        <%= image_tag('oceanblue.png') %>
      </div>
		  </li>
      <li class="layer" data-depth="0.40">
		  <div class="bridge">
        <%= image_tag('bridge.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.45">
		  <div class="city">
        <%= image_tag('sydney.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.47">
		  <div class="killerwhale">
        <%= image_tag('killerwhale.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.50">
		  <div class="field3">
        <%= image_tag('field.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.52">
        <div class="sign">
        <%= image_tag('sign.png') %>
		  </li>

      <li class="layer" data-depth="0.55">
		  <div class="smallgrass">
        <%= image_tag('smallgrass.png') %>
      </div>
		  </li>


      <li class="layer" data-depth="0.60">
		  <div class="field">
        <%= image_tag('field.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.60">
		  <div class="bear">
        <%= image_tag('bear.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.61">
		  <div class="bearbeer">
        <%= image_tag('bearbeer.png') %>
      </div>

      </li>
      <li class="layer" data-depth="0.40">
		  <div class="field4">
        <%= image_tag('field.png') %>
      </div>
		  </li>


      <li class="layer" data-depth="0.57">
		  <div class="leopard">
        <%= image_tag('leopard.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.60">
		  <div class="smallgrass2">
        <%= image_tag('smallgrass.png') %>
      </div>
		  </li>

      <li class="layer" data-depth="0.70">
		  <div class="field2">
        <%= image_tag('field.png') %>
      </div>
		  </li>


      <li class="layer" data-depth="0.75">
		  <div class="smallgrass1">
        <%= image_tag('smallgrass.png') %>
      </div>
		  </li>



      <li class="layer" data-depth="0.80">
        <div class="road">
        <%= image_tag('road.png') %>
		  </li>

      <li class="layer" data-depth="0.80">
        <div class="road1">
        <%= image_tag('road.png') %>
		  </li>

      <li class="layer" data-depth="0.80">
        <div class="road2">
        <%= image_tag('road.png') %>
		  </li>

      <li class="layer" data-depth="1.20">
        <div class="vw">
        <%= image_tag('vw.png') %>
		  </li>

      <li class="layer" data-depth="1.21">
        <div class="hop">
        <%= image_tag('hop.png') %>
		  </li>

      <li class="layer" data-depth="1.21">
        <div class="hopon">
        <%= image_tag('hopon.png') %>
		  </li>

		  <li class="layer" data-depth="2.30">
        <div class="leaves">
         <%= image_tag('leaves.png') %>
        </div>
		  </li>

		</ul>
</section>

<script type="text/javascript">
	$(function(){
		$('#scene').parallax();
	});
</script>
